 body {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-image: url('doctor.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }
 .container.centered {
     max-width: 600px;
 }

 .middle {
     padding-top:150px;
     text-align: center;
 }

 .btn-space {
     margin-bottom: 10px;
 }

 input {
     border-radius: 5px;
     padding-left: 5px;
     width: 250px;
 }

 #hasNoImg {
    background-color: red;
    font-style: italic;
}

#radiologyList {
    list-style-type: none;
}
   